*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family:rt;
    src:url("roboto.thin.ttf");
}
@font-face{
    font-family:rb;
    src:url("roboto.bold.ttf");
}
body,html{
    width: 100%;
}
.par{
  text-align:center;
  padding:50px;
  z-index: 9999;
}
.initial{
  margin:200px 100px;
  width:70px;
  height:70px;
  background-color:#333;
  border-radius:50%;
  position:relative;
  display:inline-block;
}
.initial:before,.initial:after{
  content:"";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.loader:after{
  position:absolute;
  border:4px solid transparent;
  border-radius:50%;
  border-top-color:#de302f;
  border-bottom-color:#de302f;
  top:-20px;
  left:-20px;
  -webkit-animation:spin 10s linear infinite;
  animation:spin 1s linear infinite;
}
@keyframes spin {
    0%   {
        transform: rotate(0deg) scale(1);
  }
  50%{
    transform: rotate(180deg) scale(1.5);
  }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
    }
}

.container-fluid {
    padding: 0px;
    overflow:hidden;
}
.navbar {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    margin-bottom: 0;
    width: 100%;
    color:  white;
    background-color: transparent;
    position: fixed;
    justify-content: flex-end;
    -webkit-transform:translateZ(0);
    z-index: 1;
}
#demo{
    width: 70%;
    height: 50px;
    margin: 50px auto;
    font-weight: bold;
    font-size: 40px;
    color:#de302f;
}
#events-box{
  min-width: 600px;
}
.navbar div{
    margin:0 25px;
    padding:10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.navbar div:hover{

    background-color: #de302f;
    cursor: pointer;
    transition: 0.3s ease;
}
.img-wrapper{
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    background-image:url("abhilekh.jpg");
    min-height: 700px;
    background-repeat:no-repeat;
    overflow:hidden;
    position: relative;
}
.type-out{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-family: 'Raleway';
    position: absolute;
    top:35%;
    left:15%;
    width:70%;
    min-height: 150px;
    font-size: 50px;
    color: white;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.butt{

    background: #222222;
    color: #e3e3e3;
    font-family: Sans-serif;
    font-size: 20px;
    height: 60px;
    width: 150px;
    line-height: 2px;
    margin: 25px 60px;
    text-align: center;
    border: 5px solid #e3e3e3;
    transition: all 0.3s ease 0s;
    cursor:pointer;
}
.butt:hover {

    background: #e3e3e3;
    color:#222222
}
.row{
    color: white;
    font-family: 'Raleway', sans-serif;
}
.image-333{
    background-color: #333;
    min-width: 900px;
    height: auto;
}

.image-222{
    background-color: #222;
    min-width: 900px;
    height: auto;
}
h1{
    font-size: 55px;
}
.about{
    padding:40px 65px 60px 60px;
    min-height: 500px;
}
.member{
    color: #333;
    padding:60px 65px 60px 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
}
.mob{
    display: none;
}
.join-us {
    color: white;
    background-color: #333;
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.join-us:hover{
    background-color: #de302f;
    transition: 0.3s ease;
}
.prototype{
    color: #de302f;
    padding:40px 65px 0px 65px;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
}
.prototype p{
    padding: 0;
    position: relative;
}
.prototype p:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition: width 0s ease, background 0.5s ease;
}
.prototype p:after{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transform: width 0.5s ease;
}
.prototype p:hover:before{
    width: 100%;
    background-color: #de302f;
    transition: width 0.5s ease;
}
.prototype p:hover:after{
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
.red-tint{
    padding-top: 30px;
    background-color: #000;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.69;
    color: white;
    width: 100%;
}
.red-tint .icons{
    opacity: 1;
}
.help-window{
    background-image: url(startup-notepad.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width:100%;
    min-height: 450px;
}
.red-tint img{
    display: inline-block;
}
.icons{
    margin:20px auto;
    text-align: center;
}
.icons p{
    font-size: 16px;
    font-family: 'Raleway';
    margin-top: 10px;
    font-weight: bold;
}
.board-pics{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;

}
.board-details{
    width: 40%;
    height:400px;
    background-color: bisque;
    margin:50px auto;
    position: relative;
    display: none;
}
.board-box{
    width:150px;
    height:255px;
    cursor: pointer;
    width: calc(100% * (1/8.5) - 10px - 1px);
    margin: 0px 3%;
}
.board-box:hover{
    opacity: 0.7;
    transition: all 0.2s ease-in;
}
.board-box .desc{
    margin-top: -15px;
    color: #de302f;
    font-size: 12px;
}
.board-box p{
    color:#222;
    text-align: center;
    font-family: rb;
    font-size: 15px;
}
.president{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.big-pic{
    display: inline-block;
    width:200px;
    height: inherit;
    background-color: blueviolet;
}
.board-click-detail{
    display: inline-block;
    height: inherit;
    background-color: black;
}
.startup{
    width: 100%;
    min-height: 80px;
    padding: 30px 0px;
    color: white;
    background-color: #de302f;
    font-family: 'Raleway';
    font-size: 50px;
    text-align: center;
    word-spacing: 5px;
}
.founder{
    width: 100%;
    min-height:0px;
    background-color: #e3e3e3;
}
.founder-header{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height:80px;
    font-size: 50px;
    color: #de302f;
    background-color: #fff;
    padding: 10px 0px;
    padding-bottom: 25px;
    text-align: center;
}
.founder-head{
    color:#de302f;
    font-size: 55px;
}
.founder-content p{
    margin: 25px;
    margin-top: 50px;
    color: #222;
}
.founder-pic{
    width: 305px;
    height: auto;
    margin:50px auto;
}
.founder-content{
    margin: 20px;
    margin-top: 100px;
}
.contact{
    width: 100%;
    min-height: 100px;
    background-color: #333;
    padding: 20px 30px;
}
.contact-text{
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-left: 10%;
    margin-bottom: 2%;
    color: white;
    width: 60%;
    height: 50px;
    position: relative;
    transition:all 0.3s ease-in-out;
}
.contact-msg{
    width:80%;
    background-color: transparent;
    padding:5px 50px 300px 5px;
    margin: 0 auto;
    margin-left: 10%;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
    color: white;
    position: relative;
}

.contact-msg:focus{
    outline: none !important;
    border:1px solid white;
}
.contact-text:focus{
    outline: none !important;
    border-bottom: 1px solid white;
}
.submit-btn{
    width: 300px;
    height: 60px;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
    border:5px solid #fff;
    transition: all 0.3s ease-in-out;
}
.submit-btn:hover{
    background-color: white;
    color: black;
    border: 5px solid #333;
}
